{
    "timeout": {
        "ping": 5,
        "overlay": 30
    },
    "message": [
        "Hindari bersentuhan dengan orang lain.",
        "Jaga jarak minimal 1 meter dari orang lain.",
        "Cuci tangan sebelum masuk ke lokasi Qurban",
        "Dilarang berdesak-desakan"
    ]
}